* {
  background-color: #BED7BE;
}

.quattrocent-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  word-spacing: 5px;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0px;
  margin: 2rem auto;
  width: 50rem;
  border-style: none solid;
  border-radius: 2rem;
  border-spacing: 10%;
  border-color: #A9C5A9;
  border-width: thick;
  color: #6B3415;
  padding: 5px 10px;
  background-color: #CEE3CE;
  align-content: center;
}

h4 {
  width: 7%;
  float: left;
  margin-left: 5%;
  text-align: left;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 600;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #CEE3CE;
  margin: 10px;
}

.head {
  background-color: #3A965B;
  background-size: 100px;
  border-radius: 1rem;
  border-style: solid;
  border-spacing: 10%;
  border-color: #A9C5A9;
  border-width: 5px;
}

h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration-style: solid;
  text-decoration: underline;
  margin-left: 35%;
}

h2 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
  border-color: #A9C5A9;
  border-style: solid;
  border-radius: 1rem;
  background-color: #CEE3CE;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 82px;
  letter-spacing: 0px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0px;
  background-color: #3A965B;
  color: #BED7BE;
  padding: 0px 15%;

}

.a {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 6rem;
  padding: 1rem;
  margin: 5px 0;
  color: #BED7BE;
  background-color: #BD803F;
  text-decoration: none;
  text-align: center;
  border: 3px solid #9B6327;
  border-radius: 1rem;
  transition-duration: .1s;
}

.a:hover {
  border: solid #BD803F;
  background-color: #CC9152;
}

.margin {
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}

.image {
  margin: 2% auto;
  width: 40%;
  border-color: #BD803F;
  border-style: solid;
  border-radius: 3rem;
  border-width: thick;
  display: block;
}

li {
  margin:auto;
  width: 70%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
  text-indent: 1rem;
  border-style: none solid;
  border-color: #9B6327;
  border-radius: 3rem;
  border-width: 5px;
  background-color: #BD803F;
}

a {
  text-decoration: none;
  font-weight: 500;
  background: none;
}
